.git
.gitignore
.env
.env.backup
.phpunit.result.cache
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
phpunit.log
phpunit_error.log
test_output.txt
test_output_cmd.txt
cloudflared.exe
desktop.ini
docs
README.md
.editorconfig
docker-compose*.yml
